.sa-fondo-pelicula-banner{
  background-color: black;
  width: 500px;
  height: 100%;
  opacity: 1;
  filter: alpha(opacity=100);
}

.sa-color-letras-pelicula-banner{
  color: #fff
}

.sa-fondo-estado{
  max-width: 120px;
  text-align: center;

}

.sa-color-estado-rosado{
  background-color: #e3003e ;
}

.sa-color-estado-amarillo{
  background-color: #fabb00 ;
}
